*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif ;
    
}
main{
    background-image: url("../IMG/fundoviola.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.topmenu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f1af35;
    font-weight: bold;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topmenu li{
    list-style: none;
    font-size: 15px;
}

.cabecalho{
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.form{
    border-radius: 5px;
    border: solid 1px;
    width: 45vw;
    margin:0 auto;
    margin-top: 80px;
    background-color: #f1af35;
    padding: 15px;  
}

.formcampos{
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: solid 1px;
}
.formcheck{
    display:block;
    padding: 5px;
}

.comentario{
    width: 100%; 
    height: 200px; 
    font-size: 15px;
    border: solid 1px;
}   

.enviar{
    border: solid 1px;
    width: 100%;
    height: 30px;
    background-color:#2f302f;
    color: ghostwhite;
    border-radius: 5px;
    font-size: 15px;
}
.rodape{
    margin-top: 100px;
    background-color: #f1af35;        
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}
.icones{
    display: flex;
    list-style: none;
}
.icones img{
    width: 36px;
    padding-right: 15px;
}


